/** positioning **/

html {
  background: #11bdd1; /* Old browsers */
  background: -moz-linear-gradient(top,  #11bdd1 0%, #ddf1f9 97%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#11bdd1), color-stop(97%,#ddf1f9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #11bdd1 0%,#ddf1f9 97%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #11bdd1 0%,#ddf1f9 97%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #11bdd1 0%,#ddf1f9 97%); /* IE10+ */
  background: linear-gradient(to bottom,  #11bdd1 0%,#ddf1f9 97%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11bdd1', endColorstr='#ddf1f9',GradientType=0 ); /* IE6-9 */
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
  height: 100%;
}

/** top bar **/

header {
  padding-top: .1em;
  padding-bottom: .1em;
  margin-bottom: 1em;
}

body {
  margin: 0;
}

p {
  font-weight: 400;
}

a {
  border-bottom: 2px solid rgba(229,57,37,1);
  color: black;
  text-decoration: none;
  -moz-transition-property: color;
  -webkit-transition-property: color;
  transition-property: color;
  -moz-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-duration: .3s;
}

a:hover {
  background-color: rgba(236,181,55, .9);
  color: white;
}

/** welcome page **/

.welcome {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.81);
  margin-bottom: 15px;
  display: block;
  padding-left: .3em;
  border-bottom: 3px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.start-button {
  display: block;
  background: rgba(229,57,37,1);
  border: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 1em auto;
}

/** input and button **/

.list {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.form {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgba(0,0,0,0);
  border-style: none;
  color: #fff;
  margin-bottom: 10px;
  padding-left: .3em;
  border-radius:10px;
  background-color: rgba(236,181,55, .6);
}

.start {
  width: 90%;
  border-bottom: 3px solid white;
  background-color: rgba(236,181,55, .6);
}

.listed {
  border-bottom: 3px solid white;
  width: 75%;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 1);
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 1);
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 1);
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 1);
}

input[type='text']:focus{
  border-radius:10px;
  outline:none;
  color: white;
}

.graphite-flat-button {
  float: right;
  width: 35px;
  height: 35px;
  padding: .4em;
  margin-top: .5em;
  margin-right: .2em;
  font-size: 18px;
  color: white;
  text-align: center;
  background: rgba(63,44,12,1);
  border: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/** list and checkbox **/
.text {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgba(0,0,0,0);
  color: rgba(0,0,0,.8);
  border-bottom: 2px solid white;
  margin-bottom: 10px;
  padding-left: .3em;
}

.trash-button {
  background: rgba(63,44,12,.7);
  border: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 13px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  float: right;
}

.checkbox {
  float: right;
  margin-right: 2em;
}

.status-true {
  text-decoration: line-through;
  text-decoration-color: #fff;
  color: black;
}

/** top bar **/

header {
  padding-top: .1em;
  padding-bottom: .1em;
}

h1 {
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding-left: .3em;
  text-transform: uppercase;
}

#top {
  background-color: rgba(229,57,37,1);
  display: block;
  color: #fff;
  font-size: 15px;
  padding: .4em;
  border-radius: 50%;
  margin-top: -3em;
  margin-right: .2em;
  float: right;
}

.progress {
  background-color: rgba(236,181,55, 1);
}

/* bottom bar */

footer {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  padding-left: .3em;
  text-transform: uppercase;
  color: white;
  background-color: rgba(236,181,55, 1);
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
}