/** positioning **/

body {
  background: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(147,206,222,1)), color-stop(0.96, rgba(117,189,209,1)), to(rgba(73,165,191,1)));
  background: -webkit-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 96%, rgba(73,165,191,1) 100%);
  background: -moz-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 96%, rgba(73,165,191,1) 100%);
  background: -o-linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 96%, rgba(73,165,191,1) 100%);
  background: linear-gradient(left, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 96%, rgba(73,165,191,1) 100%);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
  height: 100%;
}

/** top bar **/

header {
  padding-top: .1em;
  padding-bottom: .1em;
  margin-bottom: 1em;
}

h1 {
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding-left: .3em;
  text-transform: uppercase;
}

#top {
  background-color: rgba(229,57,37, .9);
  display: block;
  color: #fff;
  font-size: 15px;
  padding: .4em;
  border-radius: 50%;
  margin-top: -3em;
  margin-right: .2em;
  float: right;
}

.progress {
  background-color: rgba(236,181,55, 1);
}

/** input and button **/

.list {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.form {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgba(0,0,0,0);
  border-style: none;
  color: #000;
  margin-bottom: 10px;
  padding-left: .3em;
  border-bottom: 3px solid white;
  width: 75%;
}

.start {
  width: 97.5%;
  margin: auto;
}

.welcome {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  margin-bottom: 15px;
  display: block;
  padding-left: .3em;
  border-bottom: 3px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.graphite-flat-button {
  float: right;
  width: 35px;
  height: 35px;
  padding: .4em;
  margin-top: .5em;
  margin-right: .2em;
  font-size: 18px;
  color: white;
  text-align: center;
  background: rgba(63,44,12,1);
  border: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.start-button {
  display: block;
  background: rgba(229,57,37,1);
  border: 4px solid white;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 20px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  margin: 1em auto;
}

/** list and checkbox **/
.text {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgba(0,0,0,0);
  color: white;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
  padding-left: .3em;
}

.checkbox {
  float: right;
  margin-right: 2em;
}

.status-true {
  text-decoration: line-through;
  text-decoration-color: #fff;
  color: rgba(63,44,12,.5);
}

/* bottom bar */

footer {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  padding-left: .3em;
  text-transform: uppercase;
  color: white;
  background-color: rgba(236,181,55, 1);
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
}