/* Entypo Web Fonts       */
/* http://www.entypo.com/ */
@font-face {
  font-family: "entypo";
  src: url("/app/css/font/entypo.eot");
  src: url("/app/css/font/entypo.eot?#iefix") format("embedded-opentype"), url("/app/css/fonts/entypo.woff") format("woff"), url("/app/css/fonts/entypo.ttf") format("truetype"), url("/app/css/fonts/entypo.svg#entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: "entypo";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon {
  font-family: "entypo";
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }px

.etp-phone:before, .etp-mobile:before, .etp-mouse:before, .etp-address:before, .etp-mail:before, .etp-paper-plane:before, .etp-pencil:before, .etp-feather:before, .etp-attach:before, .etp-inbox:before,
.etp-reply:before, .etp-reply-all:before, .etp-forward:before, .etp-user:before, .etp-users:before, .etp-add-user:before, .etp-vcard:before, .etp-export:before, .etp-location:before, .etp-map:before {
  font-family: "Entypo";
  speak: none;
  font-size: 200%;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }


.etp-pencil:before {
  content: "\270E"; }

/** positioning **/

body {
  background-color: rgba(235, 225, 166, .2);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
  height: 100%;
}


/** top bar **/

header {
  padding-top: .1em;
  padding-bottom: .1em;
  margin-bottom: 1em;
  background-color: rgba(130,201,195,.8);
}

h1 {
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding-left: .3em;
  text-transform: uppercase;
  text-shadow: -5px 5px 0px rgba(152,126,59,.9);
}

#top {
  background-color: rgba(217,77,75, .7);
  display: block;
  color: #fff;
  font-size: 15px;
  padding: .4em;
  border-radius: 50%;
  margin-top: -3em;
  margin-right: .2em;
  float: right;
}

.progress {
  background-color: rgba(217,77,75, .3);
}

/** input and button **/

.list {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.form {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgba(0,0,0,0);
  border-style: none;
  color: #000;
  margin-bottom: 10px;
  padding-left: .3em;
  border-bottom: 2px solid rgba(130,201,195,.9);
  width: 75%;
}

.start {
  width: 99%;
}

.welcome {
  font-size: 25px;
  line-height: 55px;
  text-align: center;
  color: rgba(217,77,75, 1);
}

.graphite-flat-button {
  float: right;
  width: 35px;
  height: 35px;
  padding: .4em;
  margin-top: .5em;
  margin-right: .2em;
  border-radius: 50%;
  font-size: 18px;
  color: white;
  text-align: center;
  background: #454545;
  border: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.start-button {
  display: block;
  margin: auto;
  background: #454545;
  border: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 15px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

/** list and checkbox **/
.text {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgba(0,0,0,0);
  color: #000;
  border-bottom: 2px solid rgba(130,201,195,.9);
  margin-bottom: 10px;
  padding-left: .3em;
}

.checkbox {
  float: right;
  margin-right: 2em;
}

.status-true {
  text-decoration: line-through;
  text-decoration-color: #fff;
  color: rgba(152,126,59, .3);
}

/* bottom bar */

footer {
  margin-top: 80%;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  padding-left: .3em;
  text-transform: uppercase;
  color: white;
  background-color: rgba(217,77,75, .4);
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
}