body {
  background-color: rgba(235, 225, 166, 1);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
  height: 100%;
}

header {
  padding-top: .1em;
  padding-bottom: .1em;
  border-bottom: 2px solid white;
  margin-bottom: 1em;
}

h1 {
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding-left: .3em;
  text-transform: uppercase;
  text-shadow: -5px 5px 0px rgba(152,126,59,.9);
}

#top {
  background-color: rgba(130,201,195,.8);
  display: block;
  color: #fff;
  border-radius: 50%;
  margin-top: -3em;
  font-size: 15px;
  padding: .4em;
  margin-right: .2em;
  float: right;
}

.progress {
  background-color: rgba(217,77,75, .3);
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
}

ul, li {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.text {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgba(0,0,0,0);
  color: #ffffff;
  border-bottom: 2px solid rgba(130,201,195,.9);
  margin-bottom: 10px;
}

.status-true {
  text-decoration: line-through;
  color: rgb(152,126,59);
}

.item {
  padding-left: .3em;
}

.form {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: rgba(0,0,0,0);
  border-style: none;
  color: #ffffff;
  margin-bottom: 10px;
  padding-left: .3em;
  border-bottom: 2px solid rgba(130,201,195,.9);
  width: 85%;
}

.checkbox {
  float: right;
  margin-right: 2em;
}

.graphite-flat-button {
  position: relative;
  vertical-align: top;
  margin-right: 5px;
  width: 2em;
  height: 2em;
  float: right;
  padding: 0;
  font-size: 18px;
  color: white;
  text-align: center;
  background: #454545;
  border: 0;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50%;
}

.graphite-flat-button:active {
  top: 1px;
}
