<h2>About</h2>

<p>This page was developed on a beautiful rooftop in Santa Monica. It took about four days and almost forty commits to push the main features. Read my <a href="http://machikoyasuda.herokuapp.com/">daily stand-up logs</a>. Special thanks to my friends and Delmer for all the help.</p>

<h3>Colophon</h3>
<ul>
  <ol>Application skeleton: <a href="https://github.com/angular/angular-seed">Angular-Seed</a></ol>
  <ol>Firebase</ol>
  <ol>Google Web Fonts</ol>
</ul>

<h3>What's next</h3>
<ul>
  <ol>Write Jasmine / Karma tests</ol>
  <ol>Add more viewport sizes</ol>
  <ol>Use Coffeescript?</ol>
  <ol>Use Sass or Less?</ol>
  <ol>Use Jade or Haml?</ol>
</ul>
