<form ng-controller="ItemCtrl">
  <ul>
    <li>
      <input class="form" type="text" data-ng-model="text" autofocus placeholder="Add to your checklist.">
      <button type="submit" data-ng-click="addItem()" class="graphite-flat-button">+</button>
    </li>

    <li class="text status-{{item.status}}" data-ng-repeat="item in list[currentList].items">
      <span>{{item.text}}</span>
      <input type="checkbox" data-ng-model="item.status" name="box" value="check" class="checkbox">
      <button data-ng-click="deleteItem()" style="float:right">Trash</button>
    </li>
  </ul>
</form>