<!doctype html>
<html lang="en" data-ng-app="checklist">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/app.css"/>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrap">

    <header>
      <h1>Checklist »</h1>
    </header>

    <section data-ng-controller="ItemCtrl">
      <form>
        <input type="text" class="text" data-ng-model="text" autofocus placeholder="Start listing.">
        <input type="submit" value="+" data-ng-click="addItem()">

        <ul>
          <li class="text status-{{item.status}}" data-ng-repeat="item in list.items">{{item.text}}
          <input type="checkbox" data-ng-model="item.status" name="box" value="check" class="checkbox">
          </li>
        </ul>
      </form>

      <span>You have {{getRemaining()}} items left.</span>

      <div id="progress" style="background-color: rgba(239,121,63,0.9); width: {{getPercent()}}">{{getDone()}}/{{getTotal()}} = {{getPercent()}}</div>
    </section>

    <div class="push"></div>

  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>