<!doctype html>
<html lang="en" data-ng-app="checklist">
<head>
  <meta charset="utf-8">
  <title>Checklist »</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/app.css"/>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
</head>
<body data-ng-controller="ItemCtrl">
  <header style="background-color: rgba(217,77,75, .4);">
    <div class="progress" style="width: {{getPercent()}}"><h1>Checklist »</h1></div><span id="top">{{getPercent()}}</span>
  </header>

  <section>
    <form>
      <ul>
        <li><input class="form" type="text" data-ng-model="text" autofocus placeholder="Start."><input type="submit" value="+" data-ng-click="addItem()" class="graphite-flat-button"></li>

        <li class="text status-{{item.status}}" data-ng-repeat="item in list.items"><span class="item">{{item.text}}</span><input type="checkbox" data-ng-model="item.status" name="box" value="check" class="checkbox"></li>
      </ul>
    </form>
  </section>

  <footer>
    <span>Send to friend | About | Made by Machiko</span>
  </footer>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="https://cdn.firebase.com/v0/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angularFire/0.2.0/angularfire.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
</body>
</html>