<header>
  <div class="progress">
    <h1>Checklist</h1>
  </div>
</header>

<h1>About</h1>
<p>Hand-crafted one hot summer on a Santa Monica roof-top. Read my <a href="http://machikoyasuda.herokuapp.com/" title="Machiko Yasuda's blog">daily stand-up logs</a>. See the <a href="http://github.com/machikoyasuda/angular-checklist">GitHub repository</a> and <a href="https://www.pivotaltracker.com/s/projects/896926">Pivotal Tracker</a>. Special thanks to my friends, teachers and Delmer.</p>

<h1>Colophon</h1>
<p>Credits: Application skeleton: <a href="https://github.com/angular/angular-seed">Angular-Seed</a>, Firebase, Google Web Fonts</p>
